.git
.gitignore
.env.*
node_modules
vendor
*.log
.idea
.vscode
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
phpunit.xml
README.md
docker-compose.yml
docker-compose.*.yml
